/* colors */
$bg: #fff;
$baseColor: #2d2d23;
$mainColor: #839E39;
$subtleColor: #c0b599;
$lightGrey: #efefef;
$lightBg: #efece6;
/* fonts */
$montserrat: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;
/* ICONZ */
@font-face {
  font-family: 'pym';
  src: url('../icon-fonts/pym.eot');
  src: url('../icon-fonts/pym.eot?#iefix') format('embedded-opentype'),
       url('../icon-fonts/pym.woff') format('woff'),
       url('../icon-fonts/pym.ttf') format('truetype'),
       url('../icon-fonts/pym.svg?#pym') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pym";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pym";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
}

.icon-fb:before { content: '\e800'; } /* '' */
.icon-tw:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-prev:before { content: '\e803'; } /* '' */
.icon-next:before { content: '\e804'; } /* '' */
.icon-down:before { content: '\e805'; } /* '' */
.icon-left:before { content: '\e806'; } /* '' */
.icon-right:before { content: '\e807'; } /* '' */
.icon-up:before { content: '\e808'; } /* '' */
.icon-gplus:before { content: '\e809'; } /* '' */
.icon-share:before { content: '\e80a'; } /* '' */
.icon-email:before { content: '\e80b'; } /* '' */
.icon-yt:before { content: '\e80c'; } /* '' */
.icon-flickr:before { content: '\e80d'; } /* '' */
.icon-rss:before { content: '\e80e'; } /* '' */
.icon-triangle-down:before { content: '\e80f'; } /* '' */
.icon-triangle-up:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-pinterest:before { content: '\e814'; } /* '' */
.icon-instagram:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-location-1:before { content: '\e817'; } /* '' */

.icon{color: $baseColor;
font-size: 15px;
padding: 0 5px;}

/* helpers */
::-moz-selection, ::selection { background: $mainColor; text-shadow: none; }

/* debug */
body{
   text-align: center;
   min-height: 100%;
   font-family: $oswald;
   font-weight: 300;
   color: $baseColor;
   font-size: 13px;
   line-height: 1.45;
   background:#fff; /* url('../img/pattern.jpg') repeat; */
	border-top:1px solid $baseColor;
}
body:after{
   position:absolute;
   top:10px;
   right:10px;
   background-color: #000;
   color: $bg;
   padding: 4px;
}
section{
   position: relative;
   overflow: hidden;

}
.gridWrap{
   text-align: left;
   margin: 0 auto;

}
ul{
   list-style-type: none;
   padding: 0;
   margin: 0;
}
a{
   color: $mainColor;
}
h1, h2, h3, h4{
   font-weight: normal;
   margin: 0px;
}
strong{
   font-weight: 400;
}
/* inset bottom border with icon */
.title:before{
   content:'';
   position: absolute;
   bottom:50%;
	left:0;
   height: 1px;
   background-color: $subtleColor;
   width:100%;
   border-bottom: 1px solid #fff;
}

.upper{font-variant:small-caps;}
.inset{
   color:$mainColor;
   text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
.hidden{display: none;}

/* fancibox modals */
.fancybox-skin {
   background: transparent;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   box-shadow: none !important;
}

section{
    margin-bottom: 15px;
}
footer > span{
    position: absolute;
    color: #444;
    font-size: 12px;
    top:80%;
    right:0;
    left:0;
    text-align: center;
}

i{@include animate(250ms);}
.icon-fb:hover{color: #3b5998;}
.icon-tw:hover{ color:#00aced}
.icon-instagram:hover{color:#517fa4}


// accordion --------------------
.accordion-label > .icon-cancel:before{
    transform: rotate(-45deg) translate3d(0, 0, 0);
    transition: all 300ms ease-in-out;
}
.accordion{
    margin:10px;
	.accordion-content{
		display: none;
		animation: fadeSubMenu 150ms ease-out;
	}
	&.open .accordion-content{
		display: block;
	}
	&.open .accordion-label > .icon-cancel:before{
        transform: rotate(0);
    }
}

// cassetto ---------------------
.closet{
    .closet-content{
        @include animate(400ms);
        height: 0px;
        overflow: hidden;
    }
    &.open .closet-content{
        height: 150px;
    }
}

.basicBtn{
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid $subtleColor;
    background: $bg;
    letter-spacing: 0.05em;
    margin: 10px auto;
    cursor: pointer;
}

/* Modale +++++++++++++++++++++++ */


/* tooltip */
.tooltip{
    text-align: center;
    color: $mainColor;
    background: $lightBg;
    position: absolute;
    z-index: 100;
    padding: 15px;
	 border-radius:3px;
	 letter-spacing:0.08em;
	 
	 &:after{
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid $lightBg;
	    content: '';
	    position: absolute;
	    left: 50%;
	    bottom: -10px;
	    margin-left: -10px;
	 }
	 &.top:after{
		border-top-color: transparent;
		border-bottom: 10px solid $lightBg;
		top: -20px;
		bottom: auto;
		}
		&.left:after{
			left: 10px;
			margin: 0;
		}
		&.right:after{
			right: 10px;
			left: auto;
			margin: 0;
		}
}
 