.mobile-only{display: none!important;}
.tablet-only{display: none!important;}
.desktopOnly{display: block !important;}
.no-desktop{display: none!important;}
.no-mobile{display: block!important;}
.no-tablet{display: block!important;}


/* common */
body.init .main-wrap {
   position: fixed;
   top:0;
   width:100%;
   overflow: hidden;
	font-size:14px;
}
section{padding:0;}
/* header */
header{
   top:0;
   padding: 0;
   box-shadow: none;
   @include translateY(0);
}
nav{
   padding: 5px 0px;
   @include elasticAnimation(250ms);
}
nav:after {content: '';}
nav:before{
   content:'';
   z-index: -1;
   position: absolute;
   left:5%;
   right:5%;
   bottom:3px;
   height:10px;
   @include border-radius(50%);
   @include box-shadow(0 0 10px #000);

}
#main-nav{display: inline-block;}
#main-nav li {font-size: 16px; line-height: 1; display: inline-block; padding: 0 70px; @include elasticAnimation(250ms);}
#main-nav li a span{border:none; padding:0;}
#main-nav li.logoPym{position: absolute; top:-5px; right:100%; margin-right:-110px;}
#main-nav li.logoPym a{opacity:0; @include scale(3); @include elasticAnimation(250ms, 0ms); border:1px solid #ddd; background:#fff; border-radius:50%;}

#main-nav li.logoPym img{height: 50px; width: auto;}
.shrink nav #main-nav li.logoPym a{opacity:1; @include scale(1); @include elasticAnimation(250ms, 500ms);}
#main-nav li.logoPym a{height:auto;}

/* menu animation */
#main-nav li a {
	overflow: hidden;
	padding: 0;
	height: 1em;
}
#main-nav li a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.25s;
	-moz-transition: -moz-transform 0.25s;
	transition: transform 0.25s;
}
#main-nav li a span::before {
	position: absolute;
	color: $baseColor;
	top: 100%;
	content: attr(data-hover);
	@include translate3d('0,0,0');
}
#main-nav li a:hover span,
#main-nav li a.active span {
   @include translateY(-100%);
}
nav #main-nav li.logoPym a:hover span,
#main-nav li.logoPym a.active span{
   @include translateY(0);
}
nav #main-nav li.logoPym a:hover span{
@include scale(0.8);
}
#main-nav li a.active span{cursor: default;}
.depth-wrapper{position:relative; z-index: 2; background:#fff;}
/* hero */
.hero{
   position: relative;
   /*background-image: url('../img/bg.jpg');
   background-position: center;
   background-size:cover;
   background-repeat: no-repeat;
   background-attachment: fixed;*/
	overflow:hidden;
	z-index: 1;
}
.bgImage{height:450px; background-position: 50% 75%;}
.hero h1{position: fixed; top:230px; @include elasticAnimation(450ms); background:rgba(255, 255, 255, 1); z-index: 2;}
.hero h1 a{display:block; bottom:10px; background: transparent url('../img/pym.png') center no-repeat; background-size:contain;}

.hero .tit1{font-size: 47px;}




/* twitter */
#social{display: none;}
.social-dk-content-wrapper{
	height:65px;
	margin-top:20px;
	position: static;
	background: rgba(255,255,255, 0.8);
	padding: 0;
	font-size:14px;
	text-align: left;
	overflow:hidden;
	#social-dk-content{
		li, p{
			font-size:14px;
			text-align: left;
			line-height:1.3;
		}
	}
}


.title{
	padding:0;
	margin:0;
	text-align:left;
}
.section-title{
  font-family: Montserrat,sans-serif;
	font-size:24px;
	font-weight:300;
	text-align:left;
	padding-right:20px;
}
section .content{
	h1{
   	margin: 0 0 30px;
		padding:0;
		text-align:left;
	}
	p{
		padding:0;
		font-size:20px;
	}
	h2{
	font-size: 22px;
	margin-bottom:5px;
	}
	.small.small {
		font-size: 16px;
		line-height: 1.4;
		margin: 10px 0;
		background:none;
	}
}

.about h2{text-align:left;}
.pyms{
margin-bottom:60px;
}

.closet{
    & input{display: none;}
    & label{display: none;}
    input ~ .closet-content{
        height: 450px;
        overflow: hidden;
    }
}
.social-iconz{
    margin: 0;
    font-size: 25px;
    line-height: 50px;
    overflow: hidden;
}
.social-iconz i{
    font-size: 25px;
    line-height: 50px;
}

.strade{
margin-bottom:20px;
}

/* RESTYLE */
.alternate{
  background:$lightBg;
  & .section-title{
    background:$lightBg;
  }
}
.parallax{
  height:200px;
  background-attachment: fixed;
  .section-title{
  font-size:50px;
  line-height:200px;
  text-shadow:none;
  margin-bottom: 0;
}
}

.content{
  max-width:960px;  
  margin:0 auto 0;
  padding:80px 0;
  text-align:left;
}
.standalone{
  display: block;
  text-align: center;
  font-size: 25px;
  letter-spacing: 0.07em;
  font-weight: 400;
  margin-bottom:60px;
}
.subsection{
	padding:40px 0;
}
.right-column{
  width: grid-span(6);
  padding:0;
}
.left-column{
  width: grid-span(5);
  padding:0;
}
section .content{
  .tit1{
    margin: 30px;
    font-size: 50px;
    padding:0;
    color: #000;
    text-align: center;
    font-weight: 300;
  }
  
  p.txt1{
    padding:0;
    font-size:20px;
	 margin:10px 0 30px;
  }
  p.txt2 {
    font-size: 16px;
    line-height: 1.4;
    margin: 0px 0 20px;
    background:none;
	 color: #767676;
  }
}
.tit2{
  	font-family: $montserrat;
    font-size: 26px;
    line-height: 1.3;
	 color: $mainColor;
	 text-transform:uppercase;
  }
.hero.parallax{height:500px;}
.masonry-wrapper{
position:relative;
text-align:center;
	width:780px;
	margin:0 auto;
}

.item{
width:23%;
margin: 0 1% 10px;
float:left;
}
.item.double{
width:46%;
}
.item img{
	width:100%;
}

.item.shadowed{
   width:23%;
	img{
	width:90%;
	}
	&:before{
	content: '';
	position:absolute;
	width:89%;
	top:0px;
	bottom:2px;
	box-shadow: 5px 5px 30px #666;
	}
}

#map,
.map-wrapper{height: 450px; position: relative;}
.gmap{
  display: block;
}

.clientGrid{
  width: auto;
}
.clientGrid li{
  width: grid-span(2.5);
  height: 65px;
  text-align: center;
  position: relative;
  img{
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }
}

.portfolio.jgrid .portfolio-item{
  width: grid-span(3);
  figure{
    display: block;
    margin:0 10px;
    position: relative;
    padding: 5px;
    background:#fff;
    margin-bottom: 15px;
    img{
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto 5px;
    }
  }
}
.portfolio.jgrid .portfolio-item{
  width: grid-span(3);
  figure{
    display: block;
    margin:0 10px;
    position: relative;
    padding: 5px;
    background:#fff;
    margin-bottom: 15px;
    img{
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto 5px;
    }
  }
}
.portfolio.jgrid .portfolio-item.double{
  width: grid-span(6);
}
.portfolio.jgrid .portfolio-item.squared{
  width: grid-span(4.5);
}
.portfolio-more.jgrid .portfolio-item{
  width: grid-span(1.5);
  figure{
    display: block;
    margin:0 10px;
    position: relative;
    padding: 5px;
    background:#fff;
    margin-bottom: 15px;
    img{
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto 0;
    }
  }
}
.contacts{
padding:0;
margin-bottom: 0;
overflow:hidden;
p{margin:0;}
}
.map-wrapper .section-title{
position:absolute;
top:-50px;
left:0;
width:100%;
}

.contatti{
line-height: 1.5em; 
font-size: 18px;
text-align:center;
height:550px;
}
.contatti-wrapper{
margin-top:60px;
display:none;
}
footer{
position:relative;
overflow:hidden;
}
footer:before{
content:'';
position:absolute;
top:0;
left:0;
right:0;
height:8px;
background:#fff;
box-shadow:0 0 85px #fff,0 0 15px #fff,0 0 75px #fff,0 0 65px #fff,0 0 55px #fff,0 0 45px #fff,0 0 35px #fff,0 0 25px #fff,0 0 15px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 85px #fff,0 0 15px #fff,0 0 75px #fff,0 0 65px #fff,0 0 55px #fff,0 0 45px #fff,0 0 35px #fff,0 0 25px #fff,0 0 15px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff;
}

footer strong{
  display: inline-block;
  padding: 2px 6px;
  background: $lightBg;

}
.copyright br{
  display: none;
}

.gallery-container{
background:#efefef;
position:relative;
}

/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.gallery-content{
margin-top:50px;
position:relative;
width:100%;
text-align:center;
div{
opacity:0;
}
div:nth-child(1){
opacity:1;
}
&.slick-initialized div{
opacity:1;
}
img{
display:block;
margin:0 auto;
}
span{
  display:block;
  padding: 10px;
}
}

.clip{

}











