.mobile-only{display: none!important;}
.tablet-only{display: none!important;}
.desktopOnly{display: block !important;}
.no-desktop{display: none!important;}
.no-mobile{display: block!important;}
.no-tablet{display: block!important;}
@-webkit-keyframes rotating {
    from{-webkit-transform: rotate(0deg);
    }
    to{-webkit-transform: rotate(360deg);
    }
}
.rotating {
   animation: rotating 2s linear infinite;
}


/* common */
body.init .main-wrap {
   position: fixed;
   top:0;
   width:100%;
   overflow: hidden;
	font-size:14px;
}
section{padding: 25px 0;}
/* header */
header{
   top:0;
   padding: 0;
   box-shadow: none;
   @include translateY(0);
}
nav{
   padding: 5px 0px;
   @include elasticAnimation(250ms);
}
.shrink nav{padding: 15px 0px;}
nav:after {content: '';}
nav:before{
   content:'';
   z-index: -1;
   position: absolute;
   left:18%;
   right:18%;
   bottom:3px;
   height:10px;
   @include border-radius(50%);
   @include box-shadow(0 0 10px #000);

}
#main-nav{display: inline-block;}
#main-nav li {font-size: 16px; display: inline-block; padding: 0 30px; @include elasticAnimation(250ms);}
.shrink nav #main-nav li {padding: 0 10px;}
#main-nav li a span{border:none; padding:0;}
#main-nav li.logoPym{position: absolute; top:-16px; right:100%;}
#main-nav li.logoPym a{opacity:0; @include scale(3); @include elasticAnimation(250ms, 0ms);}
#main-nav li.logoPym img{height: 50px; width: auto;}
.shrink nav #main-nav li.logoPym a{opacity:1; @include scale(1); @include elasticAnimation(250ms, 500ms);}
#main-nav li.logoPym a{height:auto;}

/* menu animation */
#main-nav li a {
	overflow: hidden;
	padding: 0;
	height: 1em;
}
#main-nav li a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.25s;
	-moz-transition: -moz-transform 0.25s;
	transition: transform 0.25s;
}
#main-nav li a span::before {
	position: absolute;
	color: $baseColor;
	top: 100%;
	content: attr(data-hover);
	@include translate3d('0,0,0');
}
#main-nav li a:hover span,
#main-nav li a.active span {
   @include translateY(-100%);
}
nav #main-nav li.logoPym a:hover span,
#main-nav li.logoPym a.active span{
   @include translateY(0);
}
nav #main-nav li.logoPym a:hover span{
@include scale(0.8);
}

#main-nav li a.active span{cursor: default;}

/* hero */
.hero{
   position: relative;
   background-image: url('../img/bg2.jpg');
   background-position: center;
   background-size:cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.hero h1{position: fixed; top:230px; @include elasticAnimation(450ms); background:rgba(255, 255, 255, 1); z-index: 2;}
.hero h1 a{ bottom:10px; background: transparent url('../img/pym.png') center no-repeat; background-size:contain;}

/* .outLogo .hero h1{position: absolute; top: 50%; opacity: 0;}
.outLogo .hero h1 a{display:block; position:absolute; -webkit-animation: rotating 500ms linear infinite;} */
.bgImage {display: none;}

/* twitter */
#social{display: none;}
#social-dk{
    position: absolute;
    bottom:0;
    padding: 20px 50px 20px;
    line-height: 1;
    width: 100%;
    margin:  0;
    height: 85px;
    display: block;
    background: $bg;
    font-size: 18px;
    z-index: 10;
    & > ul > li{
        display: block;
        padding: 0;
        margin: 0;
    }
    & a{
        color: #999;
        text-decoration: none;
    }
    &:after{
        content:'';
        position: absolute;
        height:1px;
        background: $subtleColor;
        width: 800px;
        bottom:0px;
        left:50%;
        margin-left: -400px;
    }
}

.title{
	padding:0;
	margin:0;
	text-align:left;
}
.section-title{
	font-size:24px;
	font-weight:300;
	text-align:left;
	padding-right:20px;
}
/* about */
section .content{
	h1{
   	margin: 0 0 30px;
		padding:0;
		text-align:left;
	}
	p{
		padding:0;
		font-size:20px;
	}
	h2{
	font-size: 22px;
	margin-bottom:5px;
	}
	.small.small {
		font-size: 16px;
		line-height: 1.4;
		margin: 10px 0;
		background:none;
	}
}


/* MAP */
/* open map */


.closet{
    & input{display: none;}
    & label{display: none;}
    input ~ .closet-content{
        height: 450px;
        overflow: hidden;
    }
}
.social-iconz{
    margin: 30px;
    font-size: 25px;
    line-height: 50px;
    overflow: hidden;
}

.social-iconz i{
    font-size: 50px;
    line-height: 50px;
}



/* RESTYLE */
.alternate{
  background:$lightBg;
  & .section-title{
    background:$lightBg;
  }
}
.parallax{
	height:200px;
	background-position:center center;
	background-size:cover;
	background-attachment: fixed;
	position:relative;
	overflow:hidden !important;
   &:after{
       content:'';
       position: absolute;
       bottom:0;
       left:0;
       right:0;
       height: 1px;
		 background: #fff;
       box-shadow: -6px 0px 6px #000;
       z-index: 1;
   }
   &:before{
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       height: 1px;
       background: #fff;
       box-shadow: 6px 0px 6px #000;
       z-index: 1;
   }
	.section-title{
	font-size:50px;
	line-height:200px;
	text-align:center;
	background:none;
	color:#fff;
	text-transform:uppercase;
	text-shadow: 2px 2px 25px #000;
	}
}
.content{
  max-width:960px;  
  margin:0 auto 30px;
  padding:25px 0;
  text-align:left;
}
.standalone{
  display: block;
  text-align: left;
  margin: 7px 7px 0 0;
  padding: 4px 0;
}
.right-column{
  width: grid-span(6);
}
.left-column{
  width: grid-span(5);
}
section .content{
  .tit1{
    margin: 30px;
    font-size: 50px;
    padding:0;
    color: #000;
    text-align: center;
    font-weight: 300;
  }

  p.txt1{
    padding:0;
    font-size:20px;
	 margin:0 0 30px;
  }
  .tit2{
    margin-top: 10px;
    font-size: 22px;
    margin-bottom:5px;
  }
  p.txt2 {
    font-size: 16px;
    line-height: 1.4;
    margin: 10px 0;
    background:none;
  }
}
.hero.parallax{height:450px;}
.editorial{background-image: url('../img/test/_a.jpg');}
.adv{background-image: url('../img/test/_e.jpg');}
.clienti{background-image: url('../img/test/_c.jpg');}
.contatti{background-image: url('../img/test/_f.jpg');}

#map,
.map-wrapper{height: 450px; position: relative;}
.gmap{
  display: block;
}
.content-contatti{

  .icon{
    padding: 15px 0;
    font-size: 25px;
  }
}
.clientGrid{
  margin: 30px 0 0;
  width: auto;
}
.clientGrid li{
  width: grid-span(3);
  background:#efefef;
  margin-bottom: 24px;
}
.portfolio.jgrid .portfolio-item{
  width: grid-span(3);
  figure{
    display: block;
    margin:0 10px;
    position: relative;
    padding: 5px;
    background:#fff;
    margin-bottom: 15px;
    img{
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto 5px;
    }
  }
}
.portfolio.jgrid .portfolio-item{
  width: grid-span(3);
  figure{
    display: block;
    margin:0 10px;
    position: relative;
    padding: 5px;
    background:#fff;
    margin-bottom: 15px;
    img{
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto 5px;
    }
  }
}
.portfolio.jgrid .portfolio-item.double{
  width: grid-span(6);
}
.portfolio.jgrid .portfolio-item.squared{
  width: grid-span(4.5);
}
.portfolio-more.jgrid .portfolio-item{
  width: grid-span(1.5);
  figure{
    display: block;
    margin:0 10px;
    position: relative;
    padding: 5px;
    background:#fff;
    margin-bottom: 15px;
    img{
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto 0;
    }
  }
}
.contacts{
padding:0;
overflow:hidden;
p{margin:0;}
}
.map-wrapper .section-title{
position:absolute;
top:-50px;
left:0;
width:100%;
}
.content-contatti{
	position:absolute;
	width:auto;
	height:auto;
	padding:50px 50px 50px 150px;
	background: rgba(255,255,255,0.9);
	top:50%;
	left:0px;
	transform: translateY(-50%);
}
footer{
position:relative;
overflow:hidden;
}
footer:before{
content:'';
position:absolute;
top:0;
left:0;
right:0;
height:8px;
background:#fff;
box-shadow:0 0 85px #fff,0 0 15px #fff,0 0 75px #fff,0 0 65px #fff,0 0 55px #fff,0 0 45px #fff,0 0 35px #fff,0 0 25px #fff,0 0 15px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 85px #fff,0 0 15px #fff,0 0 75px #fff,0 0 65px #fff,0 0 55px #fff,0 0 45px #fff,0 0 35px #fff,0 0 25px #fff,0 0 15px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff;
}















