@mixin translate($val){	transform: translate($val)}
@mixin translateY($val){	transform: translateY($val)}
@mixin translateX($val){	transform: translateX($val)}
@mixin translate3d($val){	transform: translate3d($val)}
@mixin rotate($val){	transform: rotate($val)}
@mixin scale($val){	transform: scale($val)}
@mixin box-shadow($val){	box-shadow: $val;}
@mixin transition($val){	transition: $val;}
@mixin border-radius($val){border-radius: $val;}

@mixin animate($ms: 150ms){transition: all $ms ease;  transform: translate3d(0, 0, 0);}

@keyframes fadeSubMenu{
	0%{	opacity:0; display:none; transform: translate3d(0, 0, 0);}
	1%{	opacity:0; display:block; transform: translate3d(0, -5px, 0);}
	100%{	opacity:1; display:block; transform: translate3d(0, 0, 0);}
}
@mixin elasticAnimation($duration, $delay:0){
	transition-property:all;
	transition-duration: $duration;
	transition-delay:$delay;
	transition-timing-function:cubic-bezier(0.015, 0.565, 0, 1.245);
}

@mixin clearfix(){
	.cf:before,
	.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
	}
	.cf:after {
	clear: both;
	}
}

// ungrid ----------------
.ungrid-row { width: 100%; display: table; table-layout: fixed; }
.ungrid-col { display: table-cell; vertical-align: top;}
%ungrid-row { width: 100%; display: table; table-layout: fixed; }
%ungrid-col { display: table-cell; vertical-align: top;}

// jGrid -----------------
$columns: 12 !default;
$column-width: 4em !default;
$gutter-width: 1.8em !default;

%grid {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  & > * {
    text-align: left;
    font-size: medium;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
%grid-cell {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
@function grid-span($cols, $total: $columns) {
  @return ($column-width * $cols  + $gutter-width * ($cols  - 1)) /
          ($column-width * $total + $gutter-width * ($total - 1)) * 100%;
}
.jgrid{
	@extend %grid;
	& > *{
		@extend %grid-cell;
	}
}
