body{
	font-family: 'Merriweather', serif;
	font-size: 14px;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: subpixel-antialiased;
	font-smooth: subpixel-antialiased;
	color: #444;
}
h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 16px;
	color: #000;
	margin: 0;
}
h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 18px;
}
