
[data-columns]:before {
  content: '2 .column.size-1of2';
  display: none;
}
.column {
    float: left;
}
.size-1of4 {
    width: 25%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}

.masonry-wrapper{
  margin: 0 5px;
}
.item{
margin: 0 0 25px;
}

.item img{
  width:80%;
  height: auto;
  min-height: 100px;
}

.item.shadowed{
  position:relative;
  &:before{
  content: '';
  position:absolute;
  width:80%;
  top:0px;
  bottom:3px;
  box-shadow: 5px 5px 15px #666;
  }
}

.mobile-alternate-wrapper{
  background:$lightBg;
}
body{
  text-align:center;
}
.content{
  text-align:left;
  max-width: 650px;
  margin: 0 auto;
}
/* Header + menu
====================================================== */
header{
   width: 100%;
   position: absolute;
   position: fixed;
   top:40px;
   -webkit-transform: translateZ(0);
   text-align: center;
   z-index: 3;
   transform: translateY(-100%);
   box-shadow: 0px 0px 10px #000;
   -webkit-backface-visibility: hidden;
   transition: 300ms all cubic-bezier(.77,-0.32,.23,1.35);
}
header.open{
   transform: translateY(-80px);
}
nav{
   position: relative;
   width: 100%;
   background-color: $bg;
   padding: 35px 0;
   text-align: center;
}
nav:after{
   content:'☰';
   position: absolute;
   bottom:3px;
   right:6px;
   font-size:24px;
   line-height:40px;
}
.nav-title{
    position: absolute;
    bottom:3px;
    left:6px;
    right:6px;
    font-size:13px;
    line-height:35px;
    text-transform: uppercase;
    color: $subtleColor;
    text-align: center;
    padding: 0 35px;
    background-image: url('../img/pym.png');
    background-position:center left;
    background-repeat: no-repeat;
    background-size: contain;
    & strong{
        color: $mainColor;
        font-weight: 300;
    }
}
header.open nav:after{   content:'';}
header.open .nav-title{display: none;}
#main-nav{
   margin:0 auto;
   position: relative;
   z-index: 3;
}
#main-nav li{
   display: block;
   position: relative;
   font-size: 16px;
   padding: 0 10%;
   text-decoration: none;
   text-transform: uppercase;
   transition: 200ms all ease-in-out;
}
#main-nav li a {
   display: block;
   overflow: hidden;
   text-align: center;
   text-decoration: none;
   text-align: center;
   margin: 4px;
}
#main-nav li a span{
   border-bottom: 1px solid #f2f2f2;
   border-top: 1px solid $bg;
   padding: 5px;
   position: relative;
   display: block;
   font-weight: 400;
   transition: 150ms all ease-in-out;
   transform:translateY(0px);
}
#main-nav li a img{
   width: 40%;
   height: auto;
}
#main-nav li a.active span{
   background:$mainColor;
   color:$bg;
}
#main-nav li a span.active,
#main-nav li a span.hover{
   display: none;
}


/* Main Box
====================================================== */
.hero{
   padding: 0px;
   width: 100%;
   height: 250px;
   position: relative;
   background-color: $bg;
   z-index: -1;
}
.hero h1{
   position: absolute;
   font-size:0;
   z-index: 2;
    border-radius: 50%;
    background-color: $bg;
   background-image: url('../img/pym.png');
   background-position: 50%;
   background-size: 100px auto;
   background-repeat: no-repeat;
   width: 120px;
   height: 120px;
   left: 50%;
   top: 50%;
   transform: translate3d(-50%,-38%,0);
   box-shadow: 0px 22px 15px -18px #444, 23px -22px 15px -28px #444;
   }
.hero h1 a{
   display:block;
   position:absolute;
   top:0; left:0; right:0; bottom:0
}
.logo{text-indent:-5000px;}
/*.logo-shadow{ background: none;   z-index:-1;   box-shadow: 0px 0px 10px #000}*/
.bgImage{
   position: fixed;
   z-index: -1;
   background-image: url('../img/bg.jpg');
   background-size: cover;
   background-position:bottom center;
   background-repeat: no-repeat;
   height:250px;
   width: 100%;
}
.section-intro{font-size:16px; padding:0 1em; text-align: center;}
.introTxt{
   font-family: $montserrat;
   text-shadow: 1px 1px 0 $bg, -1px -1px 0 $bg, 0 0 10px $bg, 0 0 10px $bg, 0 0 10px $bg, 0 0 10px $bg;
   font-size: 18px;
   line-height: 1;
   position: absolute;
   bottom: 10%;
   left: 3%;
   right:3%;
   display: inline-block;
   text-align: center;
   padding: 4px;
   display:none;
}
.hero .tit1{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Montserrat,sans-serif;
  background-color: rgba(255,255,255,0.5);
  padding-top: 4px;
}

.txt2{
  padding:0 10px;
}
/* About
====================================================== */
.about h2, .tit2{
   font-family: $montserrat;
   line-height: 1;
   font-size: 15px;
   font-weight: 400;
   text-transform: uppercase;
   margin-top: 0;
   color: $mainColor;
   text-align:center;
}
.pyms > img{
   float: left;
   width: 23%;
   height: auto;
   margin: 1%;
}

.small.small{
    font-size: 18px;
    text-align: left;
    background: $bg;
}
.accordion{text-align:center;}
.accordion-label{
    font-size: 45px;
    line-height: 50px;
    width: 50px;
    padding: 0;
    color: $mainColor;
    display: inline-block;
    margin:0 auto;
    
    i{
        position: relative;
        top:-3px;
    }
}


/* Social Swipe
====================================================== */
#social-content{
height: 160px !important;
background: #f2f2f2;
position: relative;
&:after{
    content:'';
    position: absolute;
    bottom:-2px;
    left:0;
    right:0;
    height: 1px;
    box-shadow: -6px 0px 6px #000;
    z-index: 1;
}
&:before{
    content: '';
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    height: 1px;
    background: #999;
    box-shadow: 6px 0px 6px #000;
    z-index: 1;
}
}

.swiper-container-social {
   display: block;
   margin-top:-20px;
   width:240%;
   margin-left:-70%;
	 position:relative;
   	.swiper-slide {
         width: 100%;
         padding:0;
         text-align: center;
         font-size: 16px;
         position:relative;
      	 height:130px;
      	   a{
            	position:relative;
            	top:50%;
            	@include translateY(-50%);
               display:block;
            	text-decoration:none;
               color:$baseColor;
            }
            p{
               padding: 10px;
               //background: lighten($mainColor, 45%);
               line-height: 1.3;
               letter-spacing: -0.02em;
            }
            .date{
               display: block;
               font-weight: bold;
               font-family: $montserrat;
               color: $mainColor;
               margin-top:-20px;
               text-align:center;

            }

      }
}

.pager{
   text-align: center;
   margin:0;
   height: 30px;
   @include clearfix();
   clear: both;
      span{
         display: inline-block;
         width: 8px;
         height: 26px;
         line-height: 26px;
         margin: 0 4px;
         font-size: 20px;
         color: $subtleColor;
         @include transition('color, 300ms');
      	position:relative;
      }
      span:after{
         content:'●';
      }
      span.swiper-active-switch{
         color: $mainColor;
      	font-size:27px;
      	top:2px;
      	right:2px;
      }
}


.parallax{
  height:70px;
  background-position:center left;
  background-size:cover;
  position:relative;
  overflow:hidden !important;
  background-color:$mainColor;
  z-index: -1;
  margin-bottom: 20px;
   &:after{
       content:'';
       position: absolute;
       bottom:0;
       left:0;
       right:0;
       height: 1px;
      background: #fff;
       box-shadow: -6px 0px 6px #000;
       z-index: 1;
   }
   &:before{
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       height: 1px;
       background: #fff;
       box-shadow: 6px 0px 6px #000;
       z-index: 1;
   }
  .section-title {
    font-family: $montserrat;
  font-size: 23px;
  line-height: 70px;
  text-align: center;
  background: 0 0;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  }
}
.editorial{background-image: url('../img/parallax_libri.jpg');}
.adv{background-image: url('../img/parallax_adv.jpg');}
.clienti{background-image: url('../img/parallax_clienti.jpg');}
.contacts{background-image: url('../img/parallax_contatti.jpg');}




/* LIBRI
====================================================== */
#editorial{
   //@include clearfix();
}
.editorial-intro{
   font-family: 'Lato',sans-serif;
   font-size: 22px;
   text-align: center;
   padding: 0 20px;
   line-height: 1.2;
}
.editorial-work-wrapper{
   margin: 0 1em 0.8em;
   @include clearfix();
}
.editorial-work{
   font-size: 14px;
   display: block;
   text-align: center;
   width: 85%;
   padding: 10px 5px;
   background-color: $bg;
   margin: 2px auto;
   font-weight: 400;
   text-transform: uppercase;
	margin-bottom:.6em;
	white-space: nowrap;
	text-decoration: none;
}
.editorial-work.active{
   width: 90%;
   background-color: $mainColor;
   color: $bg;
}
.standalone {
   font-weight: 300;
   color: $mainColor;
   padding: 5px 20px;
   font-size: 18px;
   margin-bottom: 0px;
   margin: 0 auto;
   text-align: center;
   text-transform: uppercase;
   display: inline-block;
   position: relative;
}

/* scroller */
.swiper-wrapper{
   height: 215px !important;
   overflow:hidden;
}
.swiper-slide{
   height: 200px;
}
.swiper-slide .hidden{
   display: none;
}
.bCaption{
   display: inline-block;
   background: $lightGrey;
   min-width: 20%;
   max-width:33%;
   font-size: 14px;
   padding: 8px 10px;
   margin-bottom: 30px;
   position: relative;
}
.bCaption::after {
   content: '';
   display: block;
   width: 0;
   height: 0;
   position: absolute;
   top: -10px;
   left: 50%;
   margin-left: -7px;
   border-left: 7px solid $bg;
   border-right: 7px solid $bg;
   border-bottom: 10px solid $lightGrey;
}
.swiper-container {
   width:250%;
   margin-left:-75%;
   text-align:center;
      .swiper-slide .cover{
        width:100%;
        position: relative;
        height:200px;
        margin: 0 auto;
            img{
            max-width:100%;
            max-height: 100%;
            height:auto;
        	width:auto;
        	position:absolute;
        	top:50%;
        	left:50%;
            transform: translate3d(-50%, -50%, 0);
        }
      }
}
/* cover */
.swiper-container-cover {
   width:140%;
   margin-left:-20%;
      .swiper-slide .cover{
         width:90%;
         height:200px;
         margin: 0 auto;
         background: none;
            img{
               -webkit-box-shadow: 2px 2px 6px $baseColor;
               -moz-box-shadow: 2px 2px 6px $baseColor;
               box-shadow: 2px 2px 6px $baseColor;
            }
      }
      .bCaption{
         max-width:55%;
      }
}


/* Clienti
====================================================== */
.clientGrid{
   display: block;
   width: 94%;
   margin: 0 auto;
}
.clientGrid li{
   width: 31.91489%;
   position: relative;
   margin-bottom: 7px;
}
.clientGrid li img{
   display: block;
   height: auto;
   
margin: 0 auto;
}

/* Dove siamo
====================================================== */
.map-wrapper{
    overflow: hidden;
    height: 0;
    @include animate(300ms);
}
.map-wrapper.open{
    overflow: hidden;
    height: 250px;
}
.gmap{
    display: none;
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-align: center;
    background: $bg;
    padding: 3px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 1px 1px 30px #999;
}
.closet.open .closet-content .gmap{
  display:block;
}
.closet.open .closet-content{
    height: 250px;
}
.closet.open .closet-label{
  background: $mainColor;
  color: $bg;
}
#map{
    height: 250px;
    margin:0;
    position: relative;
    overflow: hidden;
    &:after{
        content:'';
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        height: 1px;
        box-shadow: -6px 0px 6px #000;
        z-index: 1;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: #999;
        box-shadow: 6px 0px 6px #000;
        z-index: 1;
    }

}
.address{
    margin-top: -100px;
    z-index: 1000;
}

/* Footer & Contacts
====================================================== */
#contacts{
    line-height: 1.5;
    font-size: 18px;
    
}
.social-iconz{
    display: inline-block;
    padding:5px 20px;
    margin: 30px auto;
    background: $bg;
    line-height: 20px;
    i{
      font-size: 22px;
    }
}

footer{
    position: relative;
    padding: 40px 0;
    /* background-image: url('../img/test/graphic3.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}
.copyright{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
	 font-size:12px;
    text-align: center;
    background: #000;
    background: rgba(255,255,255,0.5);
    color: #000;
    margin-bottom: 0;
    padding: 8px;
}
.mobile .gallery-content{
  text-align: center;
  img{
    width: 100%;
    height:auto;
  }
  span{
    display: block;
    margin-bottom: 10px;
  }
#vimeoplayer, iframe{
  width: 100% !important;
  height: auto !important;
}
}
