.mobileOnly{display: none;}
.tabletOnly{display: block;}
.desktopOnly{display: none;}
.no-tablet{display: none;}
.no-mobile{display: block;}
.padded{
    max-width: 740px;
    margin: 0 auto;
}
/* common */
.main-wrap{min-width:640px; overflow: hidden;}
.content-wrap{ min-width: 640px;  max-width: 800px; margin:0 auto; overflow:visible;}

section {margin-bottom: 2em; padding-top: 40px;}
.title{ margin:0 2em 1em;}
.section-title{font-size: 50px;}
.section-intro {font-size: 32px; padding: 0 2em;}

/* header */
nav{padding:55px 0;}
nav:after {font-size: 36px; bottom: 15px; right: 15px;}
header{top:60px;}
header.open {@include translateY(-80px);}
#main-nav li {font-size: 24px;}
#main-nav li a img {width: auto; height: 100px;}
#main-nav li a span {padding: 10px;}
.nav-title {font-size: 18px; line-height: 50px;}

/* hero */
.hero {height: 450px;}
.bgImage {height: 450px;}
.hero h1 {background-size: 160px auto; width: 200px; height: 200px;}

/* about */
.about h1 {font-size: 54px;}
.about p {margin-bottom: 1em; font-size: 32px; padding: 0 20px;}
.pyms{   margin: 0 1em;   position: relative;}
.pyms > img,
.pyms > span img {float: left; width: 10%; height:auto; margin: 0;}
.about h2 {font-size: 24px; margin-top: 0; margin-bottom: 1em;}
.small.small {
font-size: 24px;
line-height: 1.4;
margin: 10px 30px;
}

/* twitter */
#social-content {
    height: 200px!important;
    &:after{    bottom:0;}
    &:before{   top: 0; }}
.swiper-container-social {width: 160%; margin-left: -30%;}
.swiper-container-social .swiper-slide p { height: 220px; padding: 30px; font-size: 24px;}
.pager {margin-top: 10px;}

/* sliders */
.standalone {padding: 8px 34px; font-size: 30px; margin: 10px auto 15px;}
.bCaption {font-size: 20px; padding: 12px;}
.swiper-container{   width: 200%;   margin-left: -50%;}
.swiper-container .swiper-slide .cover {height: 400px;}
.swiper-container .swiper-slide .cover img {width: 100%; height: auto;}
.swiper-container .swiper-wrapper {height: 415px !important;}

/* editorial */
#editorial{
    overflow: visible;
}
/* adv */
#adv{
    overflow: visible;
}

/* cover */
.swiper-container-cover{   width: 120%;   margin-left: -10%;}
.swiper-container-cover .swiper-slide .cover {height: 400px;}
.swiper-container-cover .swiper-wrapper {height: 415px !important;}

/* clienti */
.clientGrid{width: 92%;}
.clientGrid li{width: 23.40426%;  margin-bottom: 15px;}

/* map */
#map{height: 450px;}
.closet.open .closet-content{
    height: 450px;
}

#contacts{
  overflow: visible;
  font-size: 24px;
}
.social-iconz{
  font-size: 18px;
  line-height: 40px;
  i{font-size: 30px;}
}
