.mobileOnly{display: none;}
.tabletOnly{display: block;}
.desktopOnly{display: none;}

/* common */
.main-wrap{min-width:640px;}
.gridWrap{ min-width: 640px;  max-width: 990px;}
section {margin-bottom: 2em;}
.title{ margin:0 2em 1em;}
.section-title{font-size: 50px;}
.section-intro {font-size: 32px; padding: 0 2em;}

/* header */
nav{padding:55px 0;}
nav:after {font-size: 36px; bottom: 15px; right: 15px;}
header{top:60px;}
header.open {.translateY(-80px);}
#main-nav li {font-size: 24px;}
#main-nav li a img {width: auto; height: 100px;}
#main-nav li a span {padding: 10px;}

/* hero */
.hero {height: 450px;}
.bgImage {height: 450px;}
.hero h1 {background-size: 160px auto; width: 200px; height: 200px;}

/* about */
.about h1 {font-size: 54px;}
.about p {margin-bottom: 1em; font-size: 32px; padding: 0 20px;}
.pyms{   margin: 0 1em;   position: relative;}
.pyms > img, 
.pyms > span img {float: left; width: 10%; height:auto; margin: 0;}
.about h2 {font-size: 24px; margin-top: 0; margin-bottom: 1em;}

/* twitter */
.swiper-container-social {width: 160%; margin-left: -30%;}
.swiper-container-social .swiper-slide p { height: 220px; padding: 30px; font-size: 24px;}
.pager {margin-top: 10px;}

/* sliders */
.standalone {padding: 8px 34px; font-size: 30px; margin: 10px auto 15px;}
.bCaption {font-size: 20px; padding: 12px;}
.swiper-container{   width: 200%;   margin-left: -50%;}
.swiper-container .swiper-slide .cover {height: 400px;}
.swiper-container .swiper-slide .cover img {width: 100%; height: auto;}
.swiper-container .swiper-wrapper {height: 415px !important;}

/* cover */
.swiper-container-cover{   width: 120%;   margin-left: -10%;}
.swiper-container-cover .swiper-slide .cover {height: 400px;}
.swiper-container-cover .swiper-wrapper {height: 415px !important;}

/* clienti */
.clientGrid{width: 92%;}
.clientGrid li{width: 23.40426%;  margin-bottom: 15px;}

/* map */
.swiper-container-map{width: 100%;}
.swiper-container-map,
.swiper-wrapper,
.contacts-map-wrapper,
.contact-details,
#map-content .swiper-slide,
#map {height: 350px !important;    font-size: 20px;    }
#map{left:40%; right:0; position: absolute; z-index: 2;}
.slide-contacts{width: 40%;}
.slide-map:before{content:''; display: none;}
.see-map {bottom: 15px; right: 15px; font-size: 18px; white-space: nowrap;}
.legals p{font-size: 16px;}
