<!-- <img class=" clients-img" src="assets/img/test/clients.jpg" width="100%"  alt="Clients"> -->
<ul class="grid clientGrid padded">
<li><img class="wow fadeIn" data-wow-delay="100ms" src="http://placehold.it/200x100" /></li>
    <li><img class="wow fadeIn" data-wow-delay="200ms" src="http://placehold.it/200x100" /></li>
    <li><img class="wow fadeIn" data-wow-delay="300ms" src="http://placehold.it/200x100" /></li>
    <li><img class="wow fadeIn" data-wow-delay="400ms" src="http://placehold.it/200x100" /></li>
    <li><img class="wow fadeIn" data-wow-delay="100ms" src="http://placehold.it/200x100" /></li>
    <li><img class="wow fadeIn" data-wow-delay="200ms" src="http://placehold.it/200x100" /></li>
    <li><img class="wow fadeIn" data-wow-delay="300ms" src="http://placehold.it/200x100" /></li>
    <li><img class="wow fadeIn" data-wow-delay="400ms" src="http://placehold.it/200x100" /></li>
<li></li>
<li></li>
<li></li>
</ul>
