<div><h3>studio pym srl</h3></div>
<p>Via Cappuccio, 18 20123 Milano</p>
<div><p>Tel. 02 366 966 78<br>
Email: <a href="mailto:info@studiopym.com">info@studiopym.com</a></p></div>
<div class="closet toggle">
    <div class="closet-label basicBtn toggle-label"><i class="icon-location"></i> mappa</div>
    <div class="map-wrapper closet-content">
        <div id='map'><!-- leaflet map --></div>
        <a class="gmap" href="http://goo.gl/maps/s8IbV" target="_blank">Apri in Google Maps</a>
    </div>
</div>


<div class="social-iconz">Social PYM
    <a class="icon wow bounceInUp"  target="_blank" href="https://www.facebook.com/pages/Studio-Pym/482484418494069"><i class="icon-fb"></i></a>
    <a class="icon wow bounceInUp" data-wow-delay="300ms" target="_blank" href="https://twitter.com/@studiopym"><i class="icon-tw"></i></a>
    <a class="icon wow bounceInUp" data-wow-delay="600ms" target="_blank" href="http://instagram.com/studiopym"><i class="icon-instagram"></i></a>
</div>
