<div id="masonry-grid-gallery-editing" class="masonry-grid-gallery no-mobile padded">
  <section class="masonry-grid-wrap">
    <ul class="masonry-grid">
      <li class="masonry-grid-sizer"></li><!-- for Masonry column width -->
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/1.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/2.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/6.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/2.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/1.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/1.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/6.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/1.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/2.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/2.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/1.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/1.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/6.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/1.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
      <li class="wow fadeIn">
        <figure>
          <img src="assets/img/thumb/1.png" alt="img01"/>
          <figcaption>
              Nome Autore<br />
              <strong>Titolo del Volume</strong><br />
              <em>Casa Editrice</em>
            </figcaption>
        </figure>
      </li>
    </ul>
  </section>
  <!-- +++++++++++++++++++++++++++++++++++++++++++++ -->
  <section class="slideshow no-mobile">
    <ul>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Titolo del Volume</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="assets/img/large/1.png" alt="img01"/>
        </figure>
      </li>
    </ul>
    <nav>
      <span class="nav-prev">&laquo;</span>
      <span class="nav-next">&raquo;</span>
      <span class="nav-close">&times;</span>
    </nav>
  </section>
</div>
