<header>
    <nav>
        <div class="nav-title no-desktop"><strong>Studio Pym</strong> - Editoria e Comunicazione</div>
        <ul id="main-nav">
            <li class="logoPym"><a href="#home"><span><img class="" src="assets/img/pym.png" /></span></a></li>
            <li><a href="#about"><span data-hover="Chi Siamo">Chi Siamo</span></a></li>
            <li><a href="#editorial"><span data-hover="Libri">Libri</span></a></li>
            <li><a href="#adv"><span data-hover="Adv &amp; Comunicazione">Adv &amp; Comunicazione</span></a></li>
            <li><a href="#clients"><span data-hover="Clienti">Clienti</span></a></li>
            <li><a href="#contacts"><span data-hover="Contatti">Contatti</span></a></li>
        </ul>
    </nav>
</header>
