<div class="swiper-container swiper-container-cover mobileOnly" id="swiper-container-cover">
   <div class="swiper-wrapper">
      <div class="swiper-slide">
         <div class="cover">
            <a href="assets/img/test/cover1.jpg" data-fancybox-type="image" class="fancyBox">
            <img class="" src="assets/img/test/cover1.jpg" width="245" height="350" alt="Cover1">
            </a>
         </div>
         <div class="caption hidden">
            Pino Roveredo<br />
            <strong>Ballando con Cecilia</strong><br />
            <em>Bompiani</em>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="cover">
            <a href="http://placehold.it/1000x1500&text=cover+2" data-fancybox-type="image" class="fancyBox">
               <img class="" src="assets/img/test/cover2.png" width="350" height="506" alt="Cover2">
            </a>
         </div>
         <div class="caption hidden">
            Elisa D'Ospina<br />
            <strong>Una vita tutta curve</strong><br />
            <em>Giunti</em>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="cover">
            <a href="http://placehold.it/1000x1500&text=cover+3" data-fancybox-type="image" class="fancyBox">
               <img class="" src="assets/img/test/cover3.jpg" width="329" height="522" alt="Cover3">
            </a>
         </div>
         <div class="caption hidden">
            Antonio Socci<br />
            <strong>Tornati dall'Aldilà</strong><br />
            <em>Rizzoli</em>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="cover">
            <a href="http://placehold.it/1000x1500&text=cover+4" data-fancybox-type="image" class="fancyBox">
               <img class="" src="assets/img/test/cover5.jpg" width="255" height="360" alt="Cover5">
            </a>
         </div>
         <div class="caption hidden">
            Francesco Gungui<br />
            <strong>Inferno</strong><br />
            <em>Fabbri</em>
         </div>
      </div>
   </div>
   <div class="bCaption"></div>
</div>
