<div class="swiper-container swiper-container-graphic  mobileOnly" id="swiper-container-graphic">
   <div class="swiper-wrapper">
      <div class="swiper-slide">
         <div class="cover">
            <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" ><img class="" src="assets/img/test/graphic1.jpg" width="403" height="302" alt="Graphic1"></a></div>
         <div class="caption hidden">
            <strong>Nome Cliente  - Nome Progetto</strong>
            <br><em>Breve descrizione del progetto</em>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="cover">
            <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" ><img class="" src="assets/img/test/graphic2.jpg" width="403" height="345" alt="Graphic2"></a></div>
         <div class="caption hidden">
            <strong>Nome Cliente  - Nome Progetto</strong>
            <br><em>Breve descrizione del progetto</em>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="cover">
            <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" ><img class="" src="assets/img/test/graphic3.jpg" width="403" height="268" alt="Graphic3"></a></div>
         <div class="caption hidden">
            <strong>Nome Cliente  - Nome Progetto</strong>
            <br><em>Breve descrizione del progetto</em>
         </div>
      </div>
   </div>
   <div class="bCaption"></div>
</div>
