<div class="swiper-container swiper-container-adv mobileOnly">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="cover">
                <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" >
                    <img class="" src="assets/img/test/adv1.jpg" width="937" height="708" alt="Adv1">
                </a>
            </div>
            <div class="caption hidden">
                <strong>Nome Cliente 1 - Book promotion</strong>
                <br><em>Concept, art direction, graphic & digital design, layout, copywriting</em>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="cover">
                <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" >
                    <img class="" src="assets/img/test/adv2.jpg" width="648" height="543" alt="Adv2">
                </a>
            </div>
            <div class="caption hidden">
                <strong>Nome Cliente 2 - Book promotion</strong>
                <br><em>Concept, art direction, graphic & digital design, layout, copywriting</em>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="cover">
                <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" >
                    <img class="" src="assets/img/test/adv3.jpg" width="688" height="662" alt="Adv3">
                </a>
            </div>
            <div class="caption hidden">
                <strong>Nome Cliente 3 - Book promotion</strong>
                <br><em>Concept, art direction, graphic & digital design, layout, copywriting</em>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="cover">
                <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" >
                    <img class="" src="assets/img/test/adv4.jpg" width="366" height="297" alt="Adv4">
                </a>
            </div>
            <div class="caption hidden">
                <strong>Nome Cliente 4 - Book promotion</strong>
                <br><em>Concept, art direction, graphic & digital design, layout, copywriting</em>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="cover">
                <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" >
                    <img class="" src="assets/img/test/adv5.jpg" width="403" height="284" alt="Adv5">
                </a>
            </div>
            <div class="caption hidden">
                <strong>Nome Cliente 4 - Book promotion</strong>
                <br><em>Concept, art direction, graphic & digital design, layout, copywriting</em>
            </div>
        </div>
    </div>
    <div class="bCaption"></div>
</div>
