<div class="swiper-container swiper-container-editing mobileOnly" id="swiper-container-editing">
   <div class="swiper-wrapper">
      <div class="swiper-slide fancybox-gallery">
         <div class="cover">
            <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" ><img src="assets/img/test/editing1.jpg" width="403" height="302" alt="Editing1" ></a>
         </div>
         <div class="caption hidden">
            <strong>Nome Cliente  - Nome Progetto</strong>
            <br><em>Breve descrizione del progetto</em>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="cover">
            <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" ><img class="" src="assets/img/test/editing2.jpg" width="403" height="302" alt="Editing2"></a></div>
         <div class="caption hidden">
            <strong>Nome Cliente  - Nome Progetto</strong>
            <br><em>Breve descrizione del progetto</em>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="cover">
            <a href="gallery.html" class="fancyBox" data-fancybox-type="iframe" ><img class="" src="assets/img/test/editing3.jpg" width="403" height="302" alt="Editing3"></a></div>
         <div class="caption hidden">
            <strong>Nome Cliente  - Nome Progetto</strong>
            <br><em>Breve descrizione del progetto</em>
         </div>
      </div>
   </div>
   <div class="bCaption"></div>
</div>
