<section >
    <div class="pyms mobileOnly clearfix">
         <img class="" src="assets/img/pyms/226692_482907708451740_558091361_n.jpg" width="960" height="960" alt="">
         <img class="" src="assets/img/pyms/600164_482907695118408_250263376_n.jpg" width="960" height="960" alt="">
         <img class="" src="assets/img/pyms/8651_482907655118412_799697065_n.jpg"   width="960" height="960" alt="">
         <img class="" src="assets/img/pyms/944445_482907775118400_1846060889_n.jpg" width="960" height="960" alt="">
         <img class="" src="assets/img/pyms/945147_482907735118404_1405855346_n.jpg" width="960" height="960" alt="">
      </div>
      <!-- ><h2>Mettetevi nelle nostre mani.<br>Ne abbiamo tante.</h2>
      <div class="accordion toggle">
          <div class="accordion-label toggle-label"><i class="icon-cancel"></i></div>
          <div class="accordion-content">
              <p class="small">Studio Pym è uno studio editoriale, di grafica e comunicazione nato nell'aprile
              del 2013 da un gruppo di affermati professionisti con alle spalle anni di esperienza.
              Offre la curatela di libri a pacchetto completo - copertina, progetto grafico e illustrazioni
              impaginazione e programmazione ebook, editing e revisione, ghostwriting, traduzione, rapporto con
              autori, traduttori o curatori, redazione, correzione bozze, realizzazione indici - o eventualmente la cura
              di singole fasi della lavorazione. Si occupa inoltre della creazione di campagne stampa, web, tv e radio, e della
              progettazione di materiali promozionali, copertinari, brochure e booktrailer.
              La redazione si appoggia a una rete di esperti e collaudati collaboratori sia in ambito redazionale che grafico.</p>
          </div>
      </div> -->
      <div class="pyms clearfix">
         <span class="tabletOnly">
            <img class="" src="assets/img/pyms/226692_482907708451740_558091361_n.jpg" width="960" height="960" alt="">
            <img class="" src="assets/img/pyms/600164_482907695118408_250263376_n.jpg"    width="960" height="960" alt="">
            <img class="" src="assets/img/pyms/8651_482907655118412_799697065_n.jpg" width="960" height="960" alt="">
            <img class="" src="assets/img/pyms/944445_482907775118400_1846060889_n.jpg" width="960" height="960" alt="">
            <img class="" src="assets/img/pyms/945147_482907735118404_1405855346_n.jpg" width="960" height="960" alt="">
         </span>
         <img class="" src="assets/img/pyms/946542_482907755118402_1246656265_n.jpg" width="960" height="960" alt="">
         <img class="" src="assets/img/pyms/969048_482907711785073_1514163453_n.jpg" width="960" height="960" alt="">
         <img class="" src="assets/img/pyms/969416_482907661785078_166334040_n.jpg" width="960" height="960" alt="">
         <img class="" src="assets/img/pyms/971007_482907801785064_1879925228_n.jpg" width="960" height="960" alt="">
         <img class="" src="assets/img/pyms/983790_482907658451745_308548360_n.jpg" width="960" height="960" alt="">
      </div>
</section>
