<section class="pyms">
<img rel="tooltip" title="Andrea Acquani" class="lazyload" data-src="../assets/img/pyms/01.jpg" width="340" height="340" alt="01">
<img rel="tooltip" title="Teresa Bava" class="lazyload" data-src="../assets/img/pyms/02.jpg" width="340" height="340" alt="02">
<img rel="tooltip" title="Gianluca Bavagnoli" class="lazyload" data-src="../assets/img/pyms/03.jpg" width="340" height="340" alt="03">
<img rel="tooltip" title="Laura Cantarelli" class="lazyload" data-src="../assets/img/pyms/04.jpg" width="340" height="340" alt="04">
<img rel="tooltip" title="Luca Dentale" class="lazyload" data-src="../assets/img/pyms/05.jpg" width="340" height="340" alt="05">
<img rel="tooltip" title="Aurelia Di Meo" class="lazyload" data-src="../assets/img/pyms/06.jpg" width="340" height="340" alt="06">
<img rel="tooltip" title="Cristina Giubaldo" class="lazyload" data-src="../assets/img/pyms/07.jpg" width="340" height="340" alt="07">
<img rel="tooltip" title="Alessandra Mascaretti" class="lazyload" data-src="../assets/img/pyms/08.jpg" width="340" height="340" alt="08">
<img rel="tooltip" title="Paola Mazzucchelli" class="lazyload" data-src="../assets/img/pyms/09.jpg" width="340" height="340" alt="09">
<img rel="tooltip" title="Rachele Moscatelli" class="lazyload" data-src="../assets/img/pyms/10.jpg" width="340" height="340" alt="10">
<img rel="tooltip" title="Marcella Nicodemo" class="lazyload" data-src="../assets/img/pyms/11.jpg" width="340" height="340" alt="11">
<img rel="tooltip" title="Valeria Parise" class="lazyload" data-src="../assets/img/pyms/12.jpg" width="340" height="340" alt="12">
<img rel="tooltip" title="Silvia Luisa Sartorio" class="lazyload" data-src="../assets/img/pyms/13.jpg" width="340" height="340" alt="13">
<img rel="tooltip" title="Lucia Emilia Stipari" class="lazyload" data-src="../assets/img/pyms/14.jpg" width="340" height="340" alt="14">
<img rel="tooltip" title="Michele Turazzi" class="lazyload" data-src="../assets/img/pyms/15.jpg" width="340" height="340" alt="15">
<img rel="tooltip" title="Viola Vastola" class="lazyload" data-src="../assets/img/pyms/16.jpg" width="340" height="340" alt="16">
</section>




