/* ANIMATIONS =================================== */
@keyframes fading {
	from {opacity:0;}
	to {opacity:1;}
}
@mixin fading($ms){ animation: fading $ms ease-in-out;}
.fading{@include fading(150ms); transform: translate3d(0, 0, 0);}
/* ------------- */
@keyframes fadeSubMenu{
	0%{	opacity:0; display:none; transform: translate3d(0, 0, 0);}
	1%{	opacity:0; display:block; transform: translate3d(0, -5px, 0);}
	100%{	opacity:1; display:block; transform: translate3d(0, 0, 0);}
}
@keyframes fadeSubMenuInverted{
	0%{	opacity:0; display:none; transform: translate3d(0, 0, 0);}
	1%{	opacity:0; display:block; transform: translate3d(0, 5px, 0);}
	100%{	opacity:1; display:block; transform: translate3d(0, 0, 0);}
}
/* ------------- */
@keyframes toolTips{
	0%{	opacity:0;display:none;transform: translate3d(0, 5px, 0);}
	10%{	opacity:0;display:block;transform: translate3d(0, 5px, 0);}
	100%{	opacity:1;display:block;transform: translate3d(0, 0, 0);}
}
/* ------------- */
@mixin animate($ms: 150ms){transition: all $ms ease-in-out;  transform: translate3d(0, 0, 0);}
