//Colors --------------------------------
$bgColor: #fff;
$textColor: #2b2a2a;
$fattoRed: #de0000;
$darkRed: #b3000f;
$darkBlog: #2D7D86;
$titleColor: #505050;
$blogTitleColor: #797979;
$blogTextColor: #585858;
$gray: #929292;
$lightBg: #f2f2f2;
$dashed: #ccc;
$black: #000;
$blog: #1faeae;
$webtv: #404040;
$fattiloro: #9b9b9b;

$fbColor: #2e659c;
$twColor: #28bbe5;
$gplusColor:#d14b56;
$emailColor:#5b768a;
