// Fonts -------------------------------
$georgia: Georgia, serif;
$open: 'Open Sans Condensed', sans-serif;
$open-l: 'Open Sans Condensed Light', sans-serif;
$open-li: 'Open Sans Condensed Light Italic', sans-serif;
