// ungrid ----------------
.ungrid-row { width: 100%; display: table; table-layout: fixed; }
.ungrid-col { display: table-cell; vertical-align: top;}
%ungrid-row { width: 100%; display: table; table-layout: fixed; }
%ungrid-col { display: table-cell; vertical-align: top;}

// jGrid -----------------
$columns: 12 !default;
$column-width: 4em !default;
$gutter-width: 1.8em !default;

%grid {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  & > * {
    text-align: left;
    font-size: medium;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
%grid-cell {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
@function grid-span($cols, $total: $columns) {
  @return ($column-width * $cols  + $gutter-width * ($cols  - 1)) /
          ($column-width * $total + $gutter-width * ($total - 1)) * 100%;
}
.jgrid{
	@extend %grid;
	& > *{
		@extend %grid-cell;
	}
}

// -----------------------
.center{text-align: center;}
.right{text-align: right;}
.left{text-align: left;}
.pull-right{float:right; margin-right: 7px;}
.pull-left{float: left; margin-left: 7px;}
.align-top{margin-top: -23px;}

%abs{
	position: absolute;
	top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.abs-right{
	@extend %abs;
	right:7px;
}
.abs-left{
	@extend %abs;
	left:7px;
}
