/* MIXINS ===================================== */
@mixin clearfix(){
	&:before,
	&:after {content: " "; display: table;}
	&:after {clear: both;}
	*zoom: 1;
}
@mixin absolute($pos){
	position: absolute;
	top:50%;
	#{$pos}: 7px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin doubleStroke($pos){
	display: block;
	padding: 0px;
	position: relative;
	z-index: 0;
	&:before{
		content:'';
		position: absolute;
		height: 2px;
		top:50%;
		left:0;
		right:0;
		@if $pos == top{
			border-top: 1px solid $gray;
			border-bottom: 2px solid $gray;
		}
		@else{
			border-top: 2px solid $gray;
			border-bottom: 1px solid $gray;
		}
		z-index: -1;
	};
}
@mixin ungrid(){
	width: 100%;
	display: table;
	table-layout: fixed;
	& > *{
		display: table-cell;
		vertical-align: top;
	}
}

/* ANIMATIONS =================================== */
@keyframes fading {
	from {opacity:0;}
	to {opacity:1;}
}
@mixin fading($ms){ animation: fading $ms ease-in-out;}
.fading{@include fading(150ms); transform: translate3d(0, 0, 0);}
/* ------------- */
@keyframes fadeSubMenu{
	0%{	opacity:0; display:none; transform: translate3d(0, 0, 0);}
	1%{	opacity:0; display:block; transform: translate3d(0, -5px, 0);}
	100%{	opacity:1; display:block; transform: translate3d(0, 0, 0);}
}
@keyframes fadeSubMenuInverted{
	0%{	opacity:0; display:none; transform: translate3d(0, 0, 0);}
	1%{	opacity:0; display:block; transform: translate3d(0, 5px, 0);}
	100%{	opacity:1; display:block; transform: translate3d(0, 0, 0);}
}
/* ------------- */
@keyframes toolTips{
	0%{	opacity:0;display:none;transform: translate3d(0, 5px, 0);}
	10%{	opacity:0;display:block;transform: translate3d(0, 5px, 0);}
	100%{	opacity:1;display:block;transform: translate3d(0, 0, 0);}
}
/* ------------- */
@mixin animate($ms: 150ms){transition: all $ms ease-in-out;  transform: translate3d(0, 0, 0);}


/* CLASSES =================================== */
.clearfix:before,
.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
/* ------------- */
.dashed{
	padding: 7px 0;
	border-top: 1px dashed $dashed;
	border-bottom: 1px dashed $dashed;
}
.dashed~.dashed{
	border-top:0;
}
/* ------------- */
.boxed{
	margin: 15px 0;
	padding: 2px 0;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	position: relative;
    clear: both;
}
.boxed:before,
.boxed:after{
	content:'';
	position: absolute;
	height: 0;
	left:0;
	right:0;
	border:1px solid $gray;
}
.boxed:before{top:2px;}
.boxed:after{bottom:2px;}

.boxed.boxed-light{
	border-top: 1px solid $dashed;
	border-bottom: 1px solid $dashed;
}
.boxed.boxed-light:before,
.boxed.boxed-light:after{border:1px solid $dashed;}


// -----------------------
.doubleStroke{
	display: block;
	padding: 0px;
	position: relative;
	z-index: 0;
	font-family: $open;
}
.doubleStroke:before{
	content:'';
	position: absolute;
	height: 2px;
	top:50%;
	left:0;
	right:0;
	border-top: 2px solid $gray;
	border-bottom: 1px solid $gray;
	z-index: -1;
}
.doubleStroke.top:before{
	margin-top: -1px;
	border-top: 1px solid $gray;
	border-bottom: 2px solid $gray;
}
.doubleStroke-label{
	display: inline-block;
	background: $bgColor;
	padding: 0 7px;
}
/* Lazy Load iamges in picture */
.lazy{
	position: relative;
	text-align: center;
}
.lazy {
  background-color: $lightBg;
  background: repeating-linear-gradient(-45deg, $lightBg, $lightBg 25%, $bgColor 25%, $bgColor 50%, $lightBg 50%) top left;
  background-size: 10px 10px;
}

.lazy img{display: none;}
.lazy img.loaded{display: block;}
.lazy > img,
.lazy noscript > img{
	width: auto;
	height: 100%;
	max-width: 100%;
	position: absolute;
	top:0;
	left:0;
}
.csstransforms .lazy > img,
.lazy noscript > img{
	left:50%;
	transform: translateX(-50%);
}
.lazy > a{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;
}
.lazy > a img{
	position: relative;
	width: auto;
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
}
.video > a{
	background: url('../img/icona-video-big.png') center no-repeat;
}
.lazy.primopiano-img{padding-top: 19.35%;}
.lazy.main-img{padding-top:40.8%;}
.lazy.stretch-img,
.lazy.blog-img{padding-top:50px;}
.lazy.square-img{padding-top:70px;}
.lazy.blogger-img{padding-top:68.2%;}
.lazy.square{padding-top:100%;}
.lazy.gallery-img{padding-top:66.8%;}
.lazy.article-image > img,
.lazy.article-image > noscript > img{
	position: relative;
}
.quoted.quoted{
	position: relative;
	text-indent: 40px;
	&:before {
		content: '“';
		color: $gray;
		font-size: 100px;
		line-height: 40px;
		padding-right: 7px;
		position: absolute;
		top: 21px;
		left: -50px;
	}
}
.active.active{text-decoration: none; cursor: default;}
.truncate{overflow: hidden;}
// ungrid ----------------
.ungrid-row { width: 100%; display: table; table-layout: fixed; }
.ungrid-col { display: table-cell; vertical-align: top;}
%ungrid-row { width: 100%; display: table; table-layout: fixed; }
%ungrid-col { display: table-cell; vertical-align: top;}

// jGrid -----------------
$columns: 12 !default;
$column-width: 4em !default;
$gutter-width: 1.8em !default;

%grid {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  & > * {
    text-align: left;
    font-size: medium;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
%grid-cell {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
@function grid-span($cols, $total: $columns) {
  @return ($column-width * $cols  + $gutter-width * ($cols  - 1)) /
          ($column-width * $total + $gutter-width * ($total - 1)) * 100%;
}
.jgrid{
	@extend %grid;
	& > *{
		@extend %grid-cell;
	}
}


// -----------------------
html body .no-mobile{display: none;}
html body .only-mobile{display: block;}
@media screen and (min-width: $desktopBP){
	html body .no-mobile{display: block;}
	html body .only-mobile{display: none;}
}

// -----------------------
.center{text-align: center;}
.right{text-align: right;}
.left{text-align: left;}
.pull-right{float:right; margin-right: 7px;}
.pull-left{float: left; margin-left: 7px;}
.align-top{margin-top: -23px;}

%abs{
	position: absolute;
	top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.abs-right{
	@extend %abs;
	right:7px;
}
.abs-left{
	@extend %abs;
	left:7px;
}

.module-label{
	position: absolute;
	left:100%;
	font-family: $open;
	text-transform: uppercase;
	font-weight: normal /*700*/;
	padding-left: 20px;
	padding-top: 20px;
	white-space: nowrap;
}

// Sticky ADV --------------------
.stuck{
	position: fixed;
}
.stuck.stuck-at-bottom{
	position: absolute;
	bottom:0;
	margin-bottom: 0;
}

// accordion --------------------
.accordion{
	& input{display: none;}
	input ~ .accordion-content{
		display: none;
		animation: fadeSubMenu 150ms ease-out;
	}
	input:checked ~ .accordion-content{
		display: block;
	}
	input:checked ~ .icon-triangle-down:before{
		transform: rotate(180deg);
	}
}

// tooltips social share --------------------
.share-link.share-link.share-link{
	position:relative;
	padding-top: 20px;
	margin-top: -20px;
	cursor: pointer;
}
.share-tooltip.share-tooltip {
	display:none;
	opacity:0;
  position: absolute;
  left:-15px;
  bottom:75%;
  white-space: nowrap;
  color: #4D4D4D;
  background: #fff;
  text-transform: none;
  border: 2px solid #ddd;
  line-height: 1;
	text-align:left;
 	z-index:1;
	padding:15px;
	border-radius:5px;
	box-shadow: 10px 6px 8px -8px #444;
	animation: toolTips 150ms ease-out;
}
.share-tooltip:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 35px;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 11px solid #ddd;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
.share-tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 35px;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
/* right align tooltip */
.share-tooltip.share-tooltip.right{
   left:auto;
   right:10px;
}
.share-tooltip.right:before{
    left:auto;
    right: 30px;
}
.share-tooltip.right:after{
    left:auto;
    right: 33px;
}
.share-link.active .share-tooltip{
	opacity:1;
	display:block;
}
// social icons
.fb_iframe_widget > span{
	vertical-align: baseline !important; /* inline, need important */
}
iframe.twitter-share-button{
	width: 80px !important;
}
.share-comments li{
	display: inline-block;
	margin: 0 2px;
}
.share-comments.share-comments .social-icon{
	font-family: arial, sans-serif;
	display: inline-block;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	padding: 0;
	text-align: center;
	margin: 5px;
}
.share-comments.share-comments  .social-icon a{
	display: inline-block;
	font-size: 0;
	padding:0;
}
.social-icon .count{
	display: block;
	border-top: 2px solid $dashed;

}
.social-icon a i{
	position: relative;
	top:3px;
	right:0;
	font-size: 16px;
	line-height: 16px;
}
/* social colors */
.fb.fb a{color: $fbColor;}
.tw.tw a{color: $twColor;}
.gp.gp a{color: $gplusColor;}
