// side-widgets -----------------------------
$side-widgets:
economia-lobby #004f76,
donne-di-fatto #581734,
motori-2-0 #004a6e;
@each $widget in $side-widgets {
	.side-widget-#{nth($widget, 1)}{
	background: nth($widget, 2);
	border: 1px solid nth($widget, 2);
	a{color:nth($widget, 2);}
	}
}
// side-widgets category ---------------------
$side-widgets-category:
economia-lobby #0088C3 $bgColor lighten(#0088C3, 20%),
donne-di-fatto #581734 $bgColor lighten(#581734, 20%),
motori-2-0 #004a6e $bgColor darken(#004a6e, 20%);
@each $widgetCat in $side-widgets-category {
    .side-widget-category.#{nth($widgetCat, 1)}{
        background: #{nth($widgetCat, 2)};
        color: #{nth($widgetCat, 3)};
        .doubleStroke.doubleStroke:before{border-color:#{nth($widgetCat, 3)};}
        h2, h3, .side-widget-footer a{color:#{nth($widgetCat, 3)};background: #{nth($widgetCat, 2)};}
        a{color:#{nth($widgetCat, 3)};}
        .share-comments{color:#{nth($widgetCat, 3)};}
        .side-widget-footer a{text-shadow: 0 0 2px #{nth($widgetCat, 4)}, 0 0 2px #{nth($widgetCat, 4)}, 0 0 2px #{nth($widgetCat, 4)};}
    }
    .side-widget-category.#{nth($widgetCat, 1)}.inverted{
        background: #{nth($widgetCat, 3)};
        color: #{nth($widgetCat, 2)};
        .side-widget-header, .side-widget-footer {background: #{nth($widgetCat, 2)};}
        h3{ color:#{nth($widgetCat, 2)}; background: #{nth($widgetCat, 3)}; a{color:#{nth($widgetCat, 2)};}}
        .share-comments, .share-comments a{color:#{nth($widgetCat, 2)};}
    }
}
