@font-face {
  font-family: 'ifqn';
  src: url('../icon-fonts/ifqn.eot?80480445');
  src: url('../icon-fonts/ifqn.eot?80480445#iefix') format('embedded-opentype'),
       url('../icon-fonts/ifqn.woff?80480445') format('woff'),
       url('../icon-fonts/ifqn.ttf?80480445') format('truetype'),
       url('../icon-fonts/ifqn.svg?80480445#ifqn') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ifqn';
    src: url('../font/ifqn.svg?80480445#ifqn') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ifqn";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

 
  /* you can be more comfortable with increased icons size */
  font-size: 120%;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-fb:before { content: '\e800'; } /* '' */
.icon-tw:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-prev:before { content: '\e803'; } /* '' */
.icon-next:before { content: '\e804'; } /* '' */
.icon-down:before { content: '\e805'; } /* '' */
.icon-left:before { content: '\e806'; } /* '' */
.icon-right:before { content: '\e807'; } /* '' */
.icon-up:before { content: '\e808'; } /* '' */
.icon-gplus:before { content: '\e809'; } /* '' */
.icon-share:before { content: '\e80a'; } /* '' */
.icon-email:before { content: '\e80b'; } /* '' */
.icon-yt:before { content: '\e80c'; } /* '' */
.icon-flickr:before { content: '\e80d'; } /* '' */
.icon-rss:before { content: '\e80e'; } /* '' */
.icon-triangle-down:before { content: '\e80f'; } /* '' */
.icon-triangle-up:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */